.label-margin-temp {
  margin-right: 10px;
}


.label-margin1-temp {
  margin-left: 10px;
}

.details-noscroll {
  --overflow: hidden;
}

.show-details {
  margin-top: 15px;
  margin-bottom: -15px;
}

.show-details-first {
  margin-bottom: -15px;
}

.show-details-end {
  margin-top: 15px;
}
